/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .titles p {
        font-size: 1.2rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .titles p {
        font-size: 1.3rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .titles p {
        font-size: 1.4rem;
    }
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .titles p {
        font-size: 1.6rem;
    }
}