.env
.DS_Store
.vscode/
trash/
aetheryte_api_gateway/docker/volumes/
tournament/docker/volumes/
aetheryte_api_gateway/docker/postgres/config/init.sql
tournament/docker/postgres/config/init.sql
# Ignore __pycache__ directories
__pycache__/
*.pyc
