body {
  height: 100vh;
  background-color: #000;
  color: #fff;
  margin: 0;
}

canvas {
  border: 1px solid #fff;
  background-color: yellow;
}

.info-ctn {
  display: flex;
  /* background-color: red; */
  justify-content: center;
}

.info-ctn > * {
  margin: 0 1rem;
}

.canvas-ctn {
  width: 1100px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}
