.btn-lightgrey {
    background-color: #d7d7d7;
}
.btn-lightgrey:hover {
    background-color: rgb(177, 173, 173);
}

.btn {
	font-size: 1.2rem;
	/* padding: 0 6vh; */
}

/* @media (max-width: 1200px) {
}

@media (max-width: 768px) {
	.btn {
		font-size: 0.8rem;
	}
} */