/* body {
	height: 100vh;
	background-color: #000;
	color: #fff;
	margin: 0;
  } */
  canvas {
	border: 1px solid #020202;
	justify-content: center;
	align-items: center;
	background-color: #ff4400;
  }

  .info-ctn {
	display: flex;
	/* background-color: red; */
	background-color: blue;
	justify-content: center;
  }

  .info-ctn > * {
	margin: 0 1rem;
  }

  .canvas-ctn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #020202;
	width: 100%;
  }

  .tournament-column-left, .tournament-column-right {
    display: flex;
    flex-direction: column;
	/* gap: 1rem; */
}

.tournament-column-left {
    flex: 1 1 50%;
}

.tournament-column-right {
    flex: 1 1 50%;
}