/* body {
	height: 100vh;
	background-color: #000;
	color: #fff;
	margin: 0;
  } */
  canvas {
	border: 1px solid #020202;
	justify-content: center;
	align-items: center;
  }

  .info-ctn {
	display: flex;
	/* background-color: red; */
	background-color: blue;
	justify-content: center;
  }

  .info-ctn > * {
	margin: 0 1rem;
  }

  .canvas-ctn {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #020202;
	width: 100%;

  }
