*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
	padding: 0;
	color: black;
	font-family: 'Press Start 2P';
	font-size: min(calc(1vw + 1vh), 15px);
}

html, body {
    height: 100vh;
}

body {
	max-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select, label {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
	color: black;
	text-decoration: none;
}

.background-rainbow-container {
	background-image: linear-gradient(
	#A9C1FF 0%,
	#A9C1FF 40%,
	#f6e01a 40%,
	#f6e01a 46.66%,
	#f19f00 46.66%,
	#f19f00 53.33%,
	#f17400 53.33%,
	#f17400 60%,
	#A9C1FF 60%,
	#A9C1FF 100%);
	height: 92vh;
}

/* Clearfix */
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.error-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
	margin: 0 auto; /* Center the box horizontally */
	padding: 20px; /* Add some padding inside the box */
	border: 2px solid red; /* Red border */
	color: black; /* Black text */
	background-color: #f8d7da; /* Light red background for better visibility */
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
  }

  .hidden {
	opacity: 0;
  }

/* Extra small devices (portrait phones, less than 576px) */
#main-content {
	width: 85%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	#main-content {
		width: 75%;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	#main-content {
		width: 50%;
	}
}