/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */


#livechat-menu {
    /* height: 200px;
    min-height: 200px; */
    /* background-color: #6d96ff; */
    /* border-top-left-radius: .26rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* #contact {
    height: 80px;
    min-height: 80px;
    background-color: #A9C1FF;
} */

.custom-scrollbar {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #acacac #878787; /* Firefox */
}

/* WebKit scrollbar customization */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #878787; /* background of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #acacac; /* color of the scrollbar thumb */
    border-radius: 10px; /* roundness of the scrollbar thumb */
    border: 2px solid #878787; /* adds space around the scrollbar thumb */
}

.gradient-custom {
    /* fallback for old browsers */
    background: #fbc2eb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(251,194,235,0.55), rgba(166,193,238,0.55));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(251,194,235,0.55), rgba(166,193,238,0.55))
  }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {
    #contact-list {
        width: 25%;
    }
    #conversation {
        display: block;
        width: 75%;
    }
} */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}