.profile-row {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
	gap: 1rem;
	margin: 1rem;
}

.profile-column-left, .profile-column-right {
    display: flex;
    flex-direction: column;
	gap: 1rem;
}

.profile-column-left {
    flex: 1 1 30%;
}

.profile-column-right {
    flex: 1 1 60%;
}

.profile-box {
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 100%;
    color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}

.selected {
	align-self: center;
  }

.profile-icon {
	width: 50px; /* Adjust the size as needed */
    height: 50px;
    margin-bottom: 10px;
}

.list-group {
    display: flex;
    max-width: 500px;
}

.list-group-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

