.flex-container {
	display: flex;
	/* width: 500px;
	height: 400px; */
	flex-wrap: wrap;
  }

  .flex-container, .flex-col {
	display: flex;
	flex-grow: 1;
  }

  .flex-col {
	flex-direction: column;
  }

  .small-box {
	width: 200px;
	height: 100px;
	background: yellow;
  }

  .large-box {
	width: 500px;
	height: 400px;
	background: blue;
  }

  .medium-box {
	width: 250px;
	height: 200px;
	background: red;
  }