/* @media (max-width: 1024px) {
	.main-content-title {
		max-width: 90%;
		font-size: 2.5rem;
	}
	
	.main-content-sub-title {
		font-size: 1.5rem;
	}
}



@media (max-width: 1024px) {
	.main-content-title {
		max-width: 90%;
		font-size: 2.5rem;
	}
	
	.main-content-sub-title {
		font-size: 1.5rem;
	}
}

@media (max-width: 768px) {
	.main-content-title {
		font-size: 1.4rem;
	}
	
	.main-content-sub-title {
		font-size: 1rem;
	}
} */